.header {
    height: 100vh;

    .avatar {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    .heading {
        display: block;
        text-align: center;

        &.full-name {
            margin-top: 20px;
        }

        &.profession {
            margin-top: 10px;
        }
    }
}